.topnav{
    background-color: #666;
    overflow: hidden;
}
/* style nav links */
.topnav a{
    width: 30%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* change link color and hover */
.topnav a.active {
    background-color: #4c7add;
    color: white;
  }
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.square{
    width: 375px;
    height: 375px; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg) translate(10px, 10px);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,1);
    
}

.toneLI{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    
      
    
}
body {
    background-color: rgb(92, 92, 92);
}
#gifDiv{
    
    width: 500px;
    height: 500px; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

   
}
li{
    text-shadow: 1px 1px 3px white;
    
    
}
ul {
    list-style-type: none;
}


#tone0{
    box-shadow: 10px 10px 10px -0px rgba(0,0,0,1);
    transform: rotate(45deg) translate(-120px, -120px)
}
#tone1{
    box-shadow: 10px 10px 10px -0px rgba(0,0,0,1);
    transform: rotate(45deg) translate(-120px, 0px)
}
#tone2{
    box-shadow: 10px 10px 10px -0px rgba(0,0,0,1);
    transform: rotate(45deg) translate(0px, -120px)
}
#tone3{
    box-shadow: 10px 10px 10px -0px rgba(0,0,0,1);
    transform: rotate(45deg) translate(-120px, 120px)
}
#tone4{
    box-shadow: 10px 10px 10px -0px rgba(0,0,0,1);
    transform: rotate(45deg)
}
#tone5{
    box-shadow: 10px 10px 10px -0px rgba(0,0,0,1);
    transform: rotate(45deg) translate(120px, -120px)
    
}
#tone6{
    box-shadow: 10px 10px 10px -0px rgba(0,0,0,1);
    transform: rotate(45deg) translate(0px, 120px)
}
#tone7{
    box-shadow: 10px 10px 10px -0px rgba(0,0,0,1);
    transform: rotate(45deg) translate(120px, 0px)
}
#tone8{
    box-shadow: 10px 10px 10px -0px rgba(0,0,0,1);
    transform: rotate(45deg) translate(120px, 120px)
}

#t0{
    box-shadow: 5px 5px 5px -0px rgba(0,0,0,1);
    transform: translate(-120px, -120px)
}
#t1{
    box-shadow: 5px 0px 5px -0px rgba(0,0,0,1);
    transform: translate(-120px, 0px)
}
#t2{
    box-shadow: 0px 5px 5px -0px rgba(0,0,0,1);
    transform: translate(0px, -120px)
}
#t3{
    box-shadow: 5px -5px 5px -0px rgba(0,0,0,1);
    transform: translate(-120px, 120px)
}
#t4{
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,1);
}
#t5{
    box-shadow: -5px 5px 5px -0px rgba(0,0,0,1);
    transform: translate(120px, -120px)
    
}
#t6{
    box-shadow: 0px -5px 5px -0px rgba(0,0,0,1);
    transform: translate(0px, 120px)
}
#t7{
    box-shadow: -5px 0px 5px -0px rgba(0,0,0,1);
    transform: translate(120px, 0px)
}
#t8{
    box-shadow: -5px -5px 5px -0px rgba(0,0,0,1);
    transform: translate(120px, 120px) 
}

#index{
    position: absolute;
    margin-top: 6%;
    margin-left: 5%;
    margin-right: 5%;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 126px;
    row-gap: 128px;
}

.index{
    
    width: 300px;
    height: 300px;
    text-shadow: 1px 1px 3px white;
    box-shadow: inset 0px 0px 20px -2px black;
    transform: rotate(-45deg)
}

#itone0{
    width: 75px;
    height: 75px;
    transform: rotate(75deg) skew(30deg) translate(85px, -36px) scaleY(0.864);
    
}
    

#itone1{
    width: 75px;
    height: 75px;
    transform: rotate(15deg) skew(30deg) translate(139px, -68px) scaleY(0.864);

}
#itone2{
    width: 75px;
    height: 75px;
    transform: rotate(15deg) skew(-30deg) translate(38px, -75px) scaleY(0.864);
}
#itone3{
    width: 75px;
    height: 75px;
    transform: rotate(15deg) skew(-30deg) translate(-174px, -212px) scaleY(0.864);
}
#itone4{
    width: 75px;
    height: 75px;
    transform: rotate(15deg) skew(-30deg) translate(-160px, -350px) scaleY(0.864);
}
#itone5{
    width: 75px;
    height: 75px;
    transform: rotate(75deg) skew(30deg) translate(-146px, -263px) scaleY(0.864);
}
#itone6{
    width: 75px;
    height: 75px;
    transform: rotate(15deg) skew(30deg) translate(101px, -364px) scaleY(0.864);
}
#itone7{
    width: 75px;
    height: 75px;
    transform: rotate(75deg) skew(-30deg) translate(-429px, -173px) scaleY(0.864);
}
#itone8{
    width: 75px;
    height: 75px;
    transform: rotate(75deg) skew(30deg) translate(-253px, -258px) scaleY(0.864);
}